.page{
    display: inline-flex;
}

.leftSide{
    display: inline-flex;
    flex-direction:column;
    background-color: rgb(204, 204, 204);
    font-size: small;
}

.LineWithIcon{
    display: flex;
    justify-content: space-between;
    padding: 5px;

}

.LineWithIcon2{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 10px solid rgb(214, 214, 214);
    border-radius: 5px;
    margin: 0px 10px;

}

.blue{
    background: rgb(22, 22, 155);
    color: white;
}

.white{
    background-color: white;
    width: 250px;
    margin: 10px;
    border-radius: 8px;

}

.bottomButtoms{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

.NonStyledLines{
    padding: 5px;
}

.buttonBox{
    border: 2px solid blue;
    border-radius: 3px;
    padding: 3px;
}

.colourBox{
    display: inline-flex;
    flex-direction: column;
    padding-left: 35px;
}

.rightSide{
    display: inline-flex;
    flex-direction:column;
}

.top{
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
}

.secondLine{
    display:flex;
    justify-content: space-between;
}

.actionBox{
    display: inline-flex;
    width: 100px;
    background-color: lightgray;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
}

.container{
    display:inline-flex;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
    line-height: 5px;
    border: 10px solid lightgray;
    margin:5px;
}

.child1{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
}

.child2{
    display: inline-flex;
    flex-direction: column;
    font-size:x-small;
    
}

.child21{
    display: inline-flex;
    justify-content: space-between;

}

.child22{
    display: inline-flex;

}

.margin{
    margin-right: 25px;
}

.bluebox{
    color: white;
    background-color: blue;
    margin: 3px 30px;
    border-radius: 2px;
}

.child23{
    text-align:center;
    line-height: 15px;
}